// question header container
$header-font-size: 20;
$header-index-font-size: 14;
$header-bg-color: #4D4D4F;
$header-color: #FAFAFA;

// question answers container
$question-font-size: 16;
$question-bg-color: white;
$questions-container-bg-color: transparentize(#4e4e4f, .94);
$question-color: #707070;
$question-clicked-color: #F79428;

// progress-bar
$progress-bar-container-bg-color: transparentize(#F79428, .72);
$progress-bar-bg-color: #F79428;

// participant info
$participant-info-bg-color: #4D4D4F;
$input-label-font-size: 10;
$input-color: #FAFAFA;
$input-label-color: transparentize($input-color, .44);