@import "_variables";
@import "_mixins";

// inherited border box model
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

// default margins and paddings reset and font
body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
}

.logo-icon {
    @include bgimage("logo");
        width: 195px;
        height: 73px;
        margin: auto;
        background-size: cover;
}

.rightWing-icon {
    @include bgimage("rightWing");
    background-size: 100% 100%;
}

.leftWing-icon {
    @include bgimage("leftWing");
    background-size: 100% 100%;
}

.logoResult-icon {
    @include bgimage("logoResult");
    background-size: 100% 100%;
}