@import "_variables";
@import "_mixins";

// inherited border box model
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

// default margins and paddings reset and font
body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
}

.logo-icon {
    @include bgimage("logo");
        width: 195px;
        height: 73px;
        margin: auto;
        background-size: cover;
}

.rightWing-icon {
    @include bgimage("rightWing");
    background-size: 100% 100%;
}

.leftWing-icon {
    @include bgimage("leftWing");
    background-size: 100% 100%;
}

.logoResult-icon {
    @include bgimage("logoResult");
    background-size: 100% 100%;
}

@include keyframes(twinkle) {
    0% {
         opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@for $i from 0 through 14 {
    .star-icon-#{$i} { 
        width: 10px + $i * 1.6px;
        height: 10px + $i * 1.6px;

        @include bgimage("star");
        background-size: 100% 100%;

        position: absolute;

        $animationTime: 3 + random(3);
        @if $i % 2 == 0 {
            top: $i * 1.3%;
            right: random($limit: 80)* 1%;
        } @else {
            bottom: $i * 1.6%;
            left: random($limit: 80)* 1%;
        }

        margin: 14px;
        @include animation('twinkle #{$animationTime}s linear infinite');
    } 
}