@import 'src/style/_variables';
@import 'src/style/_mixins';

@include keyframes(fade-in) {
    from { opacity: 0; }
    to { opacity: 1; }
}

.question-container{
    width: 100%;
    min-height: 100vh;
    height: 100%;

    background-color: $questions-container-bg-color;

    .question-header{
        min-height: 100px;
        padding: 24px 32px 32px 32px;
        background-color: $header-bg-color;

        .question-header_index {
            @include font-size($header-index-font-size);
            color: transparentize($header-color, .05);

            margin-bottom: 16px;
        }

        .question-header_text {
            @include font-size($header-font-size);
            color: $header-color;
        }
    }

    .question-answers-container {
        display: flex;
        flex-direction: column;
        padding: 24px 32px 0px 32px;

        @include font-size($question-font-size);
        color: $question-color;
        text-align: left;

        @include animation('fade-in 2s');

        .question-answer {
            display: flex;
            flex-direction: column;
            justify-content: center;

            cursor: pointer;

            background-color: $question-bg-color;

            border: none;
            border-radius: 4px;
            box-shadow: 0 0px 1px transparentize(#000000, .88);

            min-height: 50px;

            padding: 16px;
            margin-bottom: 16px;

            &.selected {
                box-shadow: 0 0 6px $question-clicked-color;
                opacity: 1;
            }

            .answer-confirmation_container {
                display: flex;
                justify-content: flex-end;
                margin: 16px 0 10px 0;

                .confirmation-button {
                    margin-right: 12px;
                    color: $question-clicked-color;
                }
            }
        }
    }
}