@import 'src/style/_variables';
@import 'src/style/_mixins';

.result-container {
    @include keyframes(slide-out-right) {
        0% { transform: rotate(-30deg); }
        100% { transform: translate(500px, -500px) rotate(-30deg); }
    }

    @include keyframes(slide-out-left) {
        0% { transform: rotate(-30deg); }
        100% { transform: translate(-500px, 500px) rotate(-30deg); }
    }

    @include keyframes(fade-in-box) {
        0% {
             opacity: 0;
             @include font-size(10);
        }
        100% {
            opacity: 1;
            @include font-size(46);
        }
    }

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    width: 100%;
    min-height: 100vh;
    height: 100%;

    background-color: $participant-info-bg-color;
    overflow: hidden;

    .elements-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;

        .rightWing-icon {
            position: relative;
            top: -45px;
            z-index: 100;
    
            width: 100px;
            height: 200px;
    
            // @include rotate(-30);
            @include animation('slide-out-right 4s forwards');
        }
    
        .leftWing-icon {
            position: relative;
            z-index: 100;
            
            width: 100px;
            height: 200px;
    
            // @include rotate(-30);
            @include animation('slide-out-left 4s forwards');
        }
    
        .result {
            position: absolute;
            opacity: 0;

            color: $result-color;
            text-shadow: 2px 2px 5px $result-shadow-color;

            @include animation('fade-in-box 2s forwards');
        }
    }
}