@import 'src/style/_variables';
@import 'src/style/_mixins';
@import './_resultComponent_animations';

.final-screen-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    width: 100%;
    min-height: 100vh;
    height: 100%;

    background-color: $participant-info-bg-color;
    overflow: hidden;

    .elements-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;

        .rightWing-icon {
            position: relative;
            top: -45px;
            z-index: 100;
    
            width: 100px;
            height: 200px;
    
            // @include rotate(-30);
            @include animation('slide-out-right 4s forwards');
        }
    
        .leftWing-icon {
            position: relative;
            z-index: 100;
            
            width: 100px;
            height: 200px;
    
            // @include rotate(-30);
            @include animation('slide-out-left 4s forwards');
        }
    
        .result-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            position: absolute;
            .result {
                opacity: 0;
    
                color: $result-color;
                font-weight: bolder;
                text-shadow: 2px 2px 5px $result-shadow-color;
    
                @include animation('result-fade-in 2s forwards');
            }

            .congratulations {
                opacity: 0;

                color: $input-color;
                text-shadow: 2px 2px 5px $result-shadow-color;

                @include animation('congratulations-fade-in 2s forwards');
            }

            .message-container {
                opacity: 0;

                margin-top: 20px;
                padding: 24px;
                overflow-wrap: break-word;

                width: 80%;

                border: 2px solid transparent;
                box-shadow: 0 0px 1px $result-shadow-color;

                text-align: center;
                color: $input-color;
                @include font-size(26);

                @include animation('message-show 10s forwards');
            }
        }
    }

    .logoResult-icon {
        position: absolute;
        right: 0;
        bottom: 0;

        margin: 15px;

        height: 36px;
        width: 90px;

        opacity: 0;
        @include animation('logo-fade-in 2s forwards');
    }
}