@import 'src/style/_variables';
@import 'src/style/_mixins';

@include keyframes(slide-out-right) {
    0% { transform: rotate(-30deg); }
    100% { transform: translate(500px, -500px) rotate(-30deg); }
}

@include keyframes(slide-out-left) {
    0% { transform: rotate(-30deg); }
    100% { transform: translate(-500px, 500px) rotate(-30deg); }
}

@include keyframes(result-fade-in) {
    0% {
         opacity: 0;
         @include font-size(10);
    }
    100% {
        opacity: 1;
        @include font-size(46);
    }
}

@include keyframes(congratulations-fade-in) {
    0% {
         transform: translateY(15px);
         opacity: 0;
         @include font-size(10);
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
        @include font-size(26);
    }
}

.final-screen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    width: 100%;
    min-height: 100vh;
    height: 100%;

    background-color: $participant-info-bg-color;
    overflow: hidden;

    .elements-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;

        .rightWing-icon {
            position: relative;
            top: -45px;
            z-index: 100;
    
            width: 100px;
            height: 200px;
    
            // @include rotate(-30);
            @include animation('slide-out-right 4s forwards');
        }
    
        .leftWing-icon {
            position: relative;
            z-index: 100;
            
            width: 100px;
            height: 200px;
    
            // @include rotate(-30);
            @include animation('slide-out-left 4s forwards');
        }
    
        .result-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            position: absolute;
            .result {
                opacity: 0;
    
                color: $result-color;
                font-weight: bolder;
                text-shadow: 2px 2px 5px $result-shadow-color;
    
                @include animation('result-fade-in 2s forwards');
            }

            .congratulations {
                opacity: 0;

                color: $input-color;
                text-shadow: 2px 2px 5px $result-shadow-color;

                @include animation('congratulations-fade-in 2s forwards');
            }
        }
    }
}