@import 'src/style/_variables';
@import 'src/style/_mixins';

.error-container {
    width: 100%;
    min-height: 100vh;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 2%;
    background-color: $header-bg-color;
    color: $header-color;
    overflow-wrap: break-word;
}